h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 100px;
    /* box-sizing: border-box; */
    margin-top: 0px;
}
div{
    text-align: center;
}
span {
    font-size: 40px;
    font-weight: 5000px;
}
span.st { margin-left: 38%;
      margin-right: 15%;
}
.one,.two {margin-top: 10px;}
.flag {
    padding-top: 100px;
    height: 100px;
    margin-top: 100px;
    
}
img.st {
    margin-left: 32%;
    margin-right: 5%;
}
button.click {
    display: block;
    height: 60px;
    margin: 10px auto;
    cursor: pointer;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
